.gradle/
gradle/
build/
*/build/
.idea/
*.iml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
local.properties
*.DS_Store
/captures
.externalNativeBuild
.cxx